.HeroHeading {
  color: var(--font-color);
  font: var(--Raleway);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: calc(1rem + 1vw);
  font-size: calc(3rem + 0.390625vw);
  line-height: calc(4rem + 0.390625vw);
}

@media (min-width: 789px) {
  .HeroHeading {
    font-size: calc(3rem + 0.390625vw);
    line-height: calc(4.5rem + 0.390625vw);
  }
}

@media (min-width: 1024px) {
  .HeroHeading {
    font-size: calc(3rem + 0.390625vw);
    line-height: calc(4rem + 0.390625vw);
  }
}

