.subHeading, .rotatingText {
  font-size: 1.2rem;
  align-items: center;
  font: var(--Raleway);
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2rem; 
}

.subHeading {
  display: flex;
  align-items: center;
}

[data-theme="dark"] .subHeading {
  color: var(--light-gray);
}

[data-theme="light"] .subHeading {
  color: var(--dark-gray);
}

.rotatingContainer {
  display: inline-flex;
  width: 20vw;
  justify-content: flex-start;
  overflow: hidden;
}

.container {
  text-align: left;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}


/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rotatingText {
  animation: fadeIn 1s forwards;
  display: inline-block;
  transition: color 0.5s; 
  vertical-align: middle;
}

/* Light Mode */
[data-theme="light"] .container {
  color: var(--font-color);
}

[data-theme="light"] .rotatingText {
  color: var(--red);
}

/* Dark Mode */
[data-theme="dark"] .container {
  color: var(--font-color);
}

[data-theme="dark"] .rotatingText {
  color: var(--cyan);
}
