:root {
  --max-height: 100%;
}
.hero {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: calc(var(--max-height) * 0.3);
}

.heroContent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: calc(var(--max-height) - 85%);
}

@media screen and (min-width: 768px) {
  .headingContainer {
    padding-top: calc(var(--max-height) - 95%);
  }
}

@media screen and (min-width: 1024px) {
  .headingContainer {
    padding-top: calc(var(--max-height) - 96%);
  }

  .hero {
    margin-bottom: 9vw;
  }
}

@media screen and (min-width: 2000px) {
  .hero {
    margin-bottom: 13vw;
  }
}
