:root {
  --max-height: 100%;
}
.hero {
  /* padding-left: 9%; */
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: calc(var(--max-height) * 0.3);
}

.heroContent {
  position: relative;
  /* height: 0%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* grid-template-areas:
    'heading heading heading'
    'subheading subheading subheading'
    '. profile .'
    'button button .'; */
  justify-items: center;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: calc(var(--max-height) - 80%);
}
