.aboutDescriptionText {
  font-size: var(--mobileBody);
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .aboutDescriptionText {
    font-size: var(--scalingBody);
    line-height: 3vw;
  }
}

@media screen and (min-width: 1024px) {
  .aboutDescriptionText {
    line-height: 1.7rem;
    font-size: 1.25rem;
  }
}
