.about{
  padding: 1rem;
  display: block;
  margin-top: 2rem;
  font-size: var(--heading);
}

[data-theme='dark'] .aboutDescriptionText {
  color: var(--font-color);
}

[data-theme='light'] .aboutDescriptionText {
  color: var(--font-color);
}

.aboutDescriptionText {
  font: var(--Noto);
  font-size: var(--body);
}
