.AboutHeaderTitle {
  color: var(--cyan);
  padding-top: 2rem;
  margin: 1rem;
  font-size: var(--mobileHeading);
}

@media screen and (min-width: 768px) {
  .AboutHeaderTitle {
    font-size: var(--scalingHeader);
  }
}

@media screen and (min-width: 1024px) {
  .AboutHeaderTitle {
    /* line-height: 1.5vw; */
    font-size: 2rem;
  }
}
