ul li {
  /* margin-bottom: 0.5rem; */
  display: block;
  position: relative;
  list-style: none;
  overflow: hidden;
  display: block;
  position: relative;
}

.contactForm {
  display: block;
  margin-top: 1rem;
  position: relative;
}

.formControls {
  display: grid;
  grid-template-areas:
    'name phone'
    'email email'
    'subject subject'
    'message message'
    'button button';
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr auto auto;
  grid-gap: 0.5rem;
  position: relative;
  align-items: center;
}
.formName {
  grid-area: name;
}

.subject {
  grid-area: subject;
}
.formEmail {
  grid-area: email;
}
.formPhone {
  grid-area: phone;
}
.formMessage {
  grid-area: message;
}

.formMessageArea {
  height: 50px;
  max-width: 100%;
  min-height: 50px;
  max-height: 150px;
  border: none;
  overflow: auto;
  font-family: var(--Raleway);
}

textarea {
  line-height: 1.15rem;
}

.formButton {
  padding: 1rem;
  grid-area: button;
  overflow: hidden;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contactForm ul {
  list-style: none;
}

.contactForm input[type='text'],
.contactForm input[type='email'],
.contactForm input[type='phone'] {
  width: 100%;
  border: 0;
  height: 50px;
  font-size: 16px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--Raleway);
  background: var(--secondary-background-color);
  color: var(--font-color);
  outline: none;
  z-index: 1;
}

.contactForm textarea {
  width: 100%;
  font-size: 16px;
  padding: 15px 20px;
  outline: none;
  background: var(--secondary-background-color);
  color: var(--font-color);
}

@keyframes slide-in {
  100% {
    transform: translateX(100%);
  }
}

.formName label,
.formEmail label,
.formPhone label,
.formMessage label,
.subject label {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: -5px;
  transition: all 0.3s ease;
}

.formName.invalid label,
.formEmail.invalid label,
.formPhone.invalid label,
.formMessage.invalid label,
.subject.invalid label {
  border-bottom: 2px solid var(--transition-text-color);
  left: -1px;
  bottom: -1px;
  height: 10%;
  transition: all 750ms ease;
  z-index: 2;
}

.formName.valid label,
.formEmail.valid label,
.formPhone.valid label,
.formMessage.valid label,
.subject.valid label {
  left: -1px;
  width: 1%;
  bottom: -1px;
  height: 10%;
  transition: all 750ms ease;
}

.formName.valid input:focus + label,
.formEmail.valid input:focus + label,
.formPhone.valid input:focus + label,
.formMessage.valid textarea:focus + label,
.subject.valid input:focus + label {
  transform: translateX(-100%);
  width: 100%;
  border-bottom: 2px solid var(--transition-text-color);
  left: -1px;
  /* animation: slide-in 0.3s ease; */
}

.formName label::after,
.formEmail label::after,
.formPhone label::after,
.formMessage label::after,
.subject label::after {
  position: absolute;
  width: 100%;
  height: 1%;
  bottom: -2px;
  left: -1px;
  transition: all 750ms ease;
}

.formButton.invalidButton {
  background-color: var(--error-color);
}

.formButton.validButton {
  background-color: var(--transition-text-color);
}
