.svgContainer {
  border-radius: 50%;
  overflow: hidden;
  border: .5rem solid var(--transistion-text-color);
  z-index: 99;
  width: 35vw;
  height: 35vw; 
}
@media (max-width: 768px) {
  .svgContainer {
    width: 45vw;
    height: 45vw;
  }
}

@media (min-width: 1200px) {
  .svgContainer {
    width: 25vw;
    height: 25vw;
  }
}
.profileCircle {
  fill: transparent;
}