.WorkDescriptonTitle {
  font-size: var(--body);
  z-index: 2;
}

[data-theme="dark"] .WorkDescriptonTitle {
  color: var(--dark-font-color);
}

[data-theme="light"] .WorkDescriptonTitle {
  color: var(--light-font-color);
}

