.WorkHeaderTitle {
  font-size: var(--mobileHeading);

  margin-bottom: 1rem;
  color: var(--cyan);
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .WorkHeaderTitle {
    font-size: var(--scalingHeader);
  }
}
/* Reorganize Items on Screen Change */

@media screen and (min-width: 1024px) {
  .WorkHeaderTitle {
    /* line-height: 3.5vw; */
    font-size: 2rem;
  }
}
