.WorkDescriptonTitle {
  color: #fff;
  font-size: var(--mobileBody);
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .WorkDescriptonTitle {
    line-height: 3.75vw;
    font-size: var(--scalingBody);
  }
}

@media screen and (min-width: 1024px) {
  .WorkDescriptonTitle {
    line-height: 2rem;
    font-size: 1.25rem;
  }
}
