.WorkHeaderTitle {
  font-size: var(--heading);
  margin-bottom: 1.5vh;
  z-index: 2;
}

[data-theme="dark"] .WorkHeaderTitle {
  color: var(--cyan);
}

[data-theme="light"] .WorkHeaderTitle {
  color: var(--font-color);
}